
.rangeDropdown {
    width: 300px;
    position: relative;
}

.range {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light);
    border-radius: 8px;
    padding: 0 12px;
    border: 1px solid var(--gray-200);
    height: 46px;
    transition: var(--transition);
}

.rangeTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rangeTitle span {
    margin-left: 12px;
    margin-top: 2px;
    font-size: 14px;
}

.range:hover {
    border: 1px solid var(--gray-600);
    cursor: pointer;
}

.arrowIcon {
    width: 24px;
    height: 24px;
    margin-top: 3px;
}

.calendarIcon {
    width: 21px;
    height: 21px;
}

.calendar {
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 4px;
    width: 100%;
    padding: 16px 12px 16px 16px;
    background: var(--light);
    border-radius: 8px;
    border: 1px solid var(--gray-200);
    transition: var(--transition);
    box-shadow: var(--box-shadow);
}

.rangeDropdown[data-opened="true"] .arrowIcon {
    transform: rotate(180deg);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.title {
    font-family: var(--font-inter);
    font-size: 14px;
    font-weight: 500;
}

.btns {
    display: flex;
    justify-content: center;
}

.btn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: var(--transition);
    border-radius: 50%;
    padding: 3px;
}

.btns .btn:first-child {
    margin-right: 2px;
}

.btn img {
    margin-left: -1px;
}

.btns .btn:last-child img {
    margin-left: 1px;   
}

.btn:hover {
    background: var(--gray-200);
}

.btn[disabled] {
    cursor: not-allowed;
}

.btn:hover svg path {
    stroke: var(--dark);
}

.clear {
    text-transform: capitalize;
    cursor: pointer;
    font-size: 13px;
    margin-right: 12px;
    color: var(--gray-400);
}

.clear:hover {
    text-decoration: underline;
}

.dayNames {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    text-align: center;
    margin-bottom: 6px;
    font-family: var(--font-inter);
}

.dayName {
    font-size: 13px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    color: var(--gray-400);
}

.calendarDate {
    position: relative;
    font-family: var(--font-mulish);
    font-weight: 500;
    font-size: 14px;
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.calendarDate:hover {
    background: var(--gray-200);
}

.calendarDate.disabled {
    color: var(--gray-300);
    cursor: not-allowed;
}

.calendarDate.disabled:hover {
    background: none;
}

.calendarDate.selectedRange, .calendarDate.hoveredRange.selectedRange, .calendarDate.preSelected {
    background: var(--dark);
    color: var(--light);
    font-weight: 400;
}

.calendarDate.hoveredRange {
    background: var(--gray-200);
}

.daysGrid {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    row-gap: 4px;
}