
.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light);
    flex-direction: column;
    width: 400px;
    box-shadow: var(--box-shadow);
    padding: 40px 16px 32px;
    border-radius: 8px;
    text-align: center;
}

.wrapper span {
    font-size: 16px;
}

.ctas {
    margin-top: 16px;
}

.ctas button:first-child {
    margin-right: 16px;
}